@charset "UTF-8";
body,html{
  margin:0;
  padding:0;
}
#face{
  font-size: 0;
  span{
    display: inline-block;
    overflow: hidden;
  }
}
.line{
  background: #ff0000;
  white-space: nowrap;
  //width: 100%;
  //overflow: hidden;
}