@charset "UTF-8";
/*手机端尺寸自适应尺寸文件，以640宽度，40px作为最小大小,1px=1/40rem*/
/* Normalize */
html, body, ul, ol, img, p, input, button,textarea,h3,div,button {
    margin: 0;
    padding: 0;
}
html, body {
    font-family:
    -apple-system-font, "Helvetica Neue","Microsoft YaHei", Helvetica, STHeiTi, sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
/* Removes webkit border when the element is on focus */
a, a:active, a:focus,
button, button:active,
input, input:focus,
select, select:focus,
textarea, textarea:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
a {
    text-decoration: none;
    color: #0079FF;
}
ol, ul  {
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
    margin: 0;
}
/* /Normalize */
/* Skeleton */
.ui-app {
    /* TODO */
    background-color: rgb(240, 240, 240);
}

.ui-header {
  height: 1.125rem;
  line-height: 1.125rem;
  position: relative;
  background: #006699;
  font-size: 16px;
    text-align: center;
  /*overflow: hidden;*/
}
  .ui-header span{
      display: inline-block;
      margin:0 12px;
      color: #999;
      font-size: 16px;
  }
  .ui-header span.active{
      border-bottom: 2px solid #eb6438;
      color: #eb6438;
  }
  .ui-header h3 {
    color: #fff;
    text-align: center;
  }
  .ui-header .header-left {
    position: absolute;
    top: 0;
    left: 0.375rem;
  }
  .ui-header .header-right {
    position: absolute;
    top: 8px;
    right: 0.375rem; }
  .ui-header .back-prev {
    width: 1.3rem;
    height: 100%;
    display: block;
    color: #333;
    text-align: right; }
  .ui-header .back-prev:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 0;
    width: 0.325rem;
    height: 0.525rem;
    background: url(../img/icon/back-prev-icon.png) no-repeat;
    background-size: cover; }
  .ui-header .location {
    width: 1.3rem;
    height: 100%;
    display: block;
    color: #333;
    padding-left: 0.45rem;
    text-align: left; }
  .ui-header .location:after {
    content: '';
    position: absolute;
    top: 0.3rem;
    left: 0;
    width: 0.4rem;
    height: 0.525rem;
    background: url(../img/icon/icon-location.png) no-repeat;
    background-size: cover; }
  .ui-header .logo {
    width: 2.7rem;
    height: 0.65rem;
    margin: 0.225rem auto 0; }
    .ui-header .logo a {
      display: block;
      width: 100%;
      height: 100%;
      background: url(../img/bg/logo.png) no-repeat;
      background-size: cover; }
  .ui-header .fast-login-link,.ui-header .pcenter {
    width: 30px;
    height: 30px;
    background-image: url(../img/icon/user-icon.png);
    background-size: cover;
    cursor: pointer;
    color: #333;
  }

/*.footer nav{
  text-align: center;
  margin-bottom: 6px;
  color: #999;
}
.footer nav a{
  line-height: 24px;
  font-size: 14px;
  color: #999;
  padding: 0 12px;
}
.footer p{
  text-align: center;
  font-size: 14px;
  color: #999;
  line-height: 24px;
}
.footer .link-mode{
  margin-left: 18px;
}
.footer .link-mode a{
  color: #999;
  padding: 0 10px;
}*/
